<!doctype html>
<html lang="en">
<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' }}">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Type -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Materialize -->
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

<!-- For all browsers -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">

<!-- Fresh Squeezed jQuery -->
<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->

<meta http-equiv="cleartype" content="on">

<!-- <script src="{{ site.url }}/assets/js/main.min.js"></script>
<script src="{{ site.url }}/assets/js/retina.min.js"></script>
<script src="{{ site.url }}/assets/js/scripts.min.js"></script> -->

<!-- Load Modernizr -->
<!-- <script src="{{ site.url }}/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script> -->


<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">

<body>
{% include navbar.html %}
<div class="container">
  <div class="row">
    <div class="col s3">
      {% include nav.html %}
    </div>
  <div class="col s9">
      <header class="site-header">
          <hgroup>
            <h1><a href="/">{{ site.title }}</a></h1>
          </hgroup>
      </header>
