footer {
  a {
    color: inherit;
  }
  ul {
    list-style-type: none;
  }
  .mdl-mini-footer--social-btn {
    background-color: transparent;
    display: inline;
    img {
      height: 24px;
    }
    a {
      background-color: transparent;
    }
  }
}
header{
  .tagline {
    word-break: break-all;
    font-size: .8em;
  }
}

.card-square.mdl-card {
  max-width: 320px;
  width: calc(100%);
  max-height: 320px;
}
.card-square > .mdl-card__title {
  color: #fff;
  background: $brand-color;
}

header {
  background-color: $brand-color !important;
}
